.description-section {
    width: 100%;
    height: 400px;
    margin-top: 1900px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1000px) {
        margin-top: 2300px;
        padding: 30px;
    }

    .description-container {
        width: 50%;

        @media (max-width: 1000px) {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: fit-content;
        }

        h2 {
            text-align: center;
            line-height: 4cap;
            font-size: 30px;
            color: #a5a5a5;
            font-weight: 400;
            word-break: keep-all;
            /* Prevents breaking words */
            white-space: nowrap;

            @media (max-width: 1000px) {
                font-size: 15px;
            }

            span {
                min-width: 400px;
                border: 1px solid #fff;
                padding: 5px 10px;
                border-radius: 20px;
                background-color: var(--token-4f2840f6-2bd3-49eb-b5e4-0d236a208b38, rgb(0, 0, 0));
                border-radius: 427px;
                opacity: 1;
                transform: none;
                transform-origin: 50% 50%;
                will-change: transform;
                margin-inline: 10px;
                font-size: 25px;
                color: rgb(173, 173, 173);
                white-space: nowrap;

                @media (max-width: 1000px) {
                    font-size: 15px;
                    white-space: normal;
                }
            }
        }
    }
}