.main-container {
    width: 100%;
    height: 100vh;
    background: url(../../../public/assets/bg.png);
    background-repeat: repeat;
    opacity: 0.075;
    background-size: 128px;
    border-radius: 0;
    position: absolute;
    z-index: -1;
    // overflow: hidden;
    p{
        color: #fff;
        opacity: 1;
    }
    .visible-container{
        opacity: 1;
    }
}