.bg-animation-container {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -2;

    .move-1 {
        width: 450px;
        height: 450px;
        border-radius: 50%;
        background: rgba(128, 0, 128, 0.5);
        filter: blur(60px);
        position: absolute;
        animation: move1 15s linear infinite;
    }

    .move-2 {
        width: 300px;
        height: 300px;
        border-radius: 120px 80px 550px 100px;
        background: rgba(111, 144, 190, 0.5);
        filter: blur(80px);
        position: absolute;
        animation: move2 15s linear infinite;
    }

    .move-3 {
        width: 450px;
        height: 450px;
        border-radius: 120px 80px 550px 100px;
        background: rgba(109, 155, 155, 0.5);
        filter: blur(80px);
        position: absolute;
        animation: move3 7s linear infinite;
    }

    .move-4 {
        width: 300px;
        height: 300px;
        border-radius: 120px 80px 550px 100px;
        background: rgba(111, 144, 190, 0.5);
        filter: blur(80px);
        position: absolute;
        animation: move4 7s linear infinite;
    }
}

@keyframes move1 {
    0% {
        transform: translate(10vw, 10vh);
    }

    25% {
        transform: translate(30vw, 20vh);
    }

    50% {
        transform: translate(40vw, 30vh);
    }

    75% {
        transform: translate(40vw, 30vh);
    }

    100% {
        transform: translate(10vw, 10vh);
    }
}

@keyframes move2 {
    0% {
        transform: translate(20vw, 30vh);
    }

    25% {
        transform: translate(10vw, 10vh);
    }

    50% {
        transform: translate(30vw, 50vh);
    }

    75% {
        transform: translate(30vw, 40vh);
    }

    100% {
        transform: translate(20vw, 30vh);
    }
}

@keyframes move3 {
    0% {
        transform: translate(30vw, 50vh);
    }

    25% {
        transform: translate(10vw, 40vh);
    }

    50% {
        transform: translate(50vw, 20vh);
    }

    75% {
        transform: translate(60vw, 40vh);
    }

    100% {
        transform: translate(30vw, 30vh);
    }
}

@keyframes move4 {
    0% {
        transform: translate(40vw, 70vh);
    }

    25% {
        transform: translate(60vw, 30vh);
    }

    50% {
        transform: translate(80vw, 10vh);
    }

    75% {
        transform: translate(80vw, 90vh);
    }

    100% {
        transform: translate(40vw, 70vh);
    }
}